#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

//Page Header
#about-header {
  color: white;
  width: 100%;
  border: solid 2px $greyBorder;
}
#about-header .about-img {
  background-image: url(http://res.cloudinary.com/dxfjyn0nq/image/upload/v1512339668/about-us-logo_zizdqh.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}
#about-header .about-img > h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 58px;
}
#about-header .about-img > h3 {
  font-family: fantasy;
  font-size: 28px;
}
//end Page Header


.about-content {
  display: flex;
  width: 100%;
  border: solid 2px $greyBorder;
  margin-bottom: 30px;
}

.about-sidebar {
  display: none;
}

.about-sidebar li{
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  border-bottom: 1px solid $greyBorder;
  color: #08c;
  font-family: Verdana;
  padding-top: 12px;
}

.about-sidebar li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about-us {
  padding: 40px;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}

.about-us p {
  display: block;
  padding-top: 20px;
  font-size: 15px;
  font-family: Verdana;
}

.about-us p:first-child {
  display: block;
  padding: 30px;
  font-size: 20px;
  font-family: Verdana;
  text-align: center;
}

.howitworks {
  background-color: white;
  padding: 40px;
  box-shadow: 3px 3px 3px #888888;
}

.howitworks h1 {
  text-align: center;
  font-size: 32px;
}

.howitworks h2 {
  color: $orange;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
}

.howitworks p {
  font-size: 14px;
  line-height: 130%;
}

.safety {
  background-color: white;
  padding: 40px;
  box-shadow: 3px 3px 3px #888888;
}

.safety h1 {
  text-align: center;
  font-size: 32px;
}

.safety h2 {
  color: $orange;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
}

.safety p {
  font-size: 14px;
}

@media screen and (min-width:760px) {
  //Page Header
  #about-header {
    color: white;
    width: 80%;
    border: solid 2px $greyBorder;
  }
  #about-header .about-img {
    height: 350px;
  }
  #about-header .about-img > h1 {
    font-size: 70px;
  }
  #about-header .about-img > h3 {
    font-size: 40px;
  }
  //end Page Header

  .about-sidebar {
    display: none;
    display:flex;
    flex-direction: column;
    border-right: 2px solid $greyBorder;
    box-shadow: 3px 3px 3px #888888;
  }

  .about-content {
    width: 80%;
  }
}
