#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#about-header {
  color: white;
  width: 80%;
  border: solid 2px $greyBorder;
}

.about-img {
  background-image: url(http://res.cloudinary.com/dxfjyn0nq/image/upload/v1486460059/about-us-logo_n1jwja.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-img > h3 {
  font-family: "Brush Script MT", cursive;
  font-size: 70px;
}

.about-img h1 {
  font-family: fantasy;
  font-size: 40px;
}

.about-content {
  display: flex;
  width: 80%;
  border: solid 2px $greyBorder;
  margin-bottom: 30px;
}

.about-sidebar {
  display:flex;
  flex-direction: column;
}

.about-sidebar li{
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  border-bottom: 1px solid $greyBorder;
  border-right: 2px solid $greyBorder;
  color: #08c;
  font-family: Verdana;
  padding-top: 12px;
}

.about-sidebar li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about-us {
  padding: 20px;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}
