.header-container {
  border-bottom: solid rgb(217, 217, 216);
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $white;
}

.nav-button {
  padding-right: 20px;
}


.logo {
  font-family: "Brush Script MT", cursive;
  font-weight: lighter;
  // font-style: italic;
  font-size: 30px;
  margin-left: 40px;
  color: $orange;
}

.floorsurfing-logo {
  margin-left: 20px;
}

#white-button {
  background-color: $white;
  border: 2px solid $blue;
  color: $blue;
}

#white-button:hover {
  background-color: $grey;
}

#join-button {
  background-color: $blue;
  width: 140px;
  color: $white;
}

#join-button:hover {
  background-color: $darkBlue;
}

#log-out-button {

}

// #my-dashboard-button {
//   background-color: $white;
//   color: $blue;
//   border-color: $blue;
// }
//
// #my-dashboard-button {
//   background-color: $white;
//   color: $blue;
//   border-color: $blue;
// }

//ul
.header-nav-button{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
}

//li
.header-nav-button > li {
  box-sizing: border-box;
  font-size: 15px;
  padding: 8px 12px;
  vertical-align: middle;
}
