.sign-up-header {
  background-color: $lightgrey;
  text-align: center;
}

.sign-up-header > h1 {
  color: #929ead;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sign-up-content {
  padding-top: 18px;
}

.sign-up-content input {
  margin-bottom: 7px;
}

.sign-up-form {
  width: 100%;
}

#sign-up-submit-button {
  width: 100%;
  color: $white;
  margin-bottom: 39px;
}

.sign-up-footer {
  text-align: center
}
