.travel-plans {
  
}

.travel-plans-header {
  border-bottom: 1px solid $greyBorder;
  padding: 16px 20px;
}

.travel-plans-header h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.travel-plans-content {
  background-color: $lightgrey;
}
