.travel-plans {
  margin-bottom: 14px;
  border-bottom: 2px solid $greyBorder;
}

.travel-plans-header {
  border-bottom: 1px solid $greyBorder;
  padding: 16px 20px;
}

.travel-plans-header h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.travel-plans-content li {
  background-color: $white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 5px;
  border-bottom: 2px solid $greyBorder;
  &:after{
    display: block;
    content: "";
    clear:both;
  }

  .contents {
    float: left;
  }

  .city {
    padding-top: 20px;
  }
}
