.travel-plans {
  margin-bottom: 14px;
  border-bottom: 2px solid $greyBorder;
}

.travel-plans-header {
  border-bottom: 1px solid $greyBorder;
  padding: 16px 20px;
}

.travel-plans-header h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.travel-plans-content li {
  background-color: $white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 5px;
  border-bottom: 2px solid $greyBorder;
  min-width: 550px;
  &:after{
    display: block;
    content: "";
    clear:both;
  }

  .contents {
    float: left;
  }

  .address {
    font-weight: bold;
  }

  .city {
    font-weight: bold;
    padding-bottom: 20px;
  }

  .booking-item-div {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    min-width: 500px;
  }

  .booking-image {
    max-width: 250px;
    max-height: 200px;
  }

  .booking-picture {
    min-width: 200px;
    height:auto;
  }

  .booking-dates {
    padding-top: 30px;
  }

  #review-button {
    margin-top: 40px;
  }
}
